
checkpoints/
results/
results_qvina*/
validation_runs/
results_docker*/
baselines_results/
*.pt
*.pth
*.ckpt
*.lmdb
*.lmdb-lock

test_data/
checkpoints/
results/
baselines_results/
*.pt
*.pth
*.ckpt
*.sif
*.tar
*.tar.gz
*.tar.zst
docker/checkpoints/
docker/qvina/qvina2.1
docker/build-context/
*.lmdb
*.lmdb-lock

__pycache__/
*.pyc

__pycache__/
*.pyc

__pycache__/
**/__pycache__/
*.pyc
examples/
