
checkpoints/
results/
baselines_results/
*.pt
*.pth
*.ckpt
*.lmdb
*.lmdb-lock

test_data/
checkpoints/
results/
baselines_results/
*.pt
*.pth
*.ckpt
*.sif
*.lmdb
*.lmdb-lock

__pycache__/
*.pyc

__pycache__/
*.pyc

__pycache__/
**/__pycache__/
*.pyc
examples/
